/* Global imports */
@import url("./reset.css");
@import url("./variables.css");

/* Components imports */
@import url("./theme-toggle-input.css");

body {
  margin: auto;
  min-width: var(--screen-sm);
  background-color: var(--bg-primary);
  font-size: var(--text-base);
  font-family: var(--font-family-base), sans-serif;
  font-weight: 700;
}

#app {
  width: var(--screen-sm);
  margin: auto;

  @media (min-width: 1440px) {
    width: var(--screen-md);
  }
}

header,
main,
footer {
  margin: 0.75rem;
  padding: 0rem 1rem;

  @media (win-width: 1440px) {
    padding: 0rem 2rem;
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  color: var(--text-color-header);
}
header > h1 {
  font-size: var(--text-lg);
}

header > h2 {
  font-size: var(--text-3xs);
  text-transform: uppercase;
  text-align: end;
}

.display {
  background-color: var(--bg-screen);
  border-radius: var(--border-radius-sm);
  color: var(--text-color-display);
  display: inline-block;
  font-size: var(--text-xl);
  margin: 1rem 0rem;
  padding: 1.375rem;
  text-align: end;
  width: 100%;

  @media (min-width: 1440px) {
    padding: 1.5rem;
    font-size: var(--text-2xl);
  }
}

.keypad-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 3.75rem);
  grid-gap: 1rem;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-sm);
  padding: 1.5rem 1rem;

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 100px);
    padding: 2rem;
    grid-gap: 1.5rem;
  }
}

.keypad-wrapper button {
  display: block;
  height: 3.825rem;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: var(--text-base);
}

.keypad-wrapper button:nth-last-child(-1n + 2) {
  grid-column-end: span 2;
}

.keypad-wrapper button:not(.btn-primary, .btn-secondary) {
  background-color: var(--base-key-background);
  box-shadow: var(--button-box-shadow) var(--base-key-shadow);
  color: var(--base-key-text);
  font-size: var(--text-lg);
}

.btn-primary {
  background-color: var(--primary-key-background);
  box-shadow: var(--button-box-shadow) var(--primary-key-shadow);
  color: var(--primary-key-text);
}

.btn-secondary {
  background-color: var(--secondary-key-background);
  box-shadow: var(--button-box-shadow) var(--secondary-key-shadow);
  color: var(--secondary-key-text);
  text-transform: uppercase;
}

.keypad-wrapper button:active {
  box-shadow: var(--button-box-shadow);
  transform: translateY(0.375rem);
}

.attribution {
  font-size: var(--text-2xs);
  color: var(--text-primary);
  text-align: center;
}
.attribution a {
  color: var(--text-link);
}
