/* replace this staff with :has() https://twitter.com/jh3yy/status/1750370338041647245 */
:root {
  --slider-width: 2.725rem;
  --slider-position-step: calc(var(--slider-width) / 2.5);
}

.theme-toggle {
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-lg);
  transition: transform 0.4s;
}

.theme-toggle::before {
  position: absolute;
  content: "theme";
  text-transform: uppercase;
  left: -2.925rem;
  top: 0.325rem;
  font-size: var(--text-3xs);
}

.theme-toggle input {
  opacity: 0;
  margin: 0.22rem;
  cursor: pointer;
}

.theme-toggle-label-container {
  position: absolute;
  top: -1rem;
  font-size: var(--text-3xs);
  left: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--slider-width);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  border-radius: 50%;
  background-color: var(--primary-key-background);
  transition: 0.4s;
}

html[data-theme="dark"] .slider:before {
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
}

html[data-theme="light"] .slider:before {
  -webkit-transform: translateX(var(--slider-position-step));
  -ms-transform: translateX(var(--slider-position-step));
  transform: translateX(var(--slider-position-step));
}

html[data-theme="violet"] .slider:before {
  -webkit-transform: translateX(calc(var(--slider-position-step) * 2));
  -ms-transform: translateX(calc(var(--slider-position-step) * 2));
  transform: translateX(calc(var(--slider-position-step) * 2));
}
