.theme-toggle {
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius-lg);
  transition: transform 0.4s;
  /* user-select: none; */
}

.theme-toggle::before {
  position: absolute;
  content: 'theme';
  text-transform: uppercase;
  left: -2.925rem;
  top: .325rem;
  font-size: var(--text-3xs);
}

.theme-toggle input {
  opacity: 0;
  margin: 0.22rem;
  cursor: pointer;
}

.theme-toggle-label-container {
  position: absolute;
  top: -1rem;
  font-size: var(--text-3xs);
  left: 0.5rem;
}

.theme-toggle-label-container > span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 3.25rem;
}

.theme-toggle-label-container label {
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  border-radius: 50%;
  background-color: var(--primary-key-background);
  transition: 0.4s;
}

#theme-dark:checked ~ .slider:before {
  -webkit-transform: translateX(0rem);
  -ms-transform: translateX(0rem);
  transform: translateX(0rem);
}

#theme-light:checked ~ .slider:before {
  --slider-position-offset: 1.375rem;
  -webkit-transform: translateX(var(--slider-position-offset));
  -ms-transform: translateX(var(--slider-position-offset));
  transform: translateX(var(--slider-position-offset));
}

#theme-violet:checked ~ .slider:before {
  --slider-position-offset: 1.375rem;
  -webkit-transform: translateX(calc(var(--slider-position-offset) * 2));
  -ms-transform: translateX(calc(var(--slider-position-offset) * 2));
  transform: translateX(calc(var(--slider-position-offset) * 2));
}
