:root {
  /* Typography variables */
  --text-3xs: 0.625rem;  
  --text-2xs: 0.688rem;
  --text-xs: 0.75rem;
  --text-base: 1rem;
  --text-sm: 1.125rem
  --text-md: 1.5rem;
  --text-lg: 1.675rem;
  --text-xl: 2rem;
  --text-2xl: 3rem;
  --font-family-base: "Spartan";

  /* Breakpoints variables */
  --screen-sm: 375px;
  --screen-md: 596px;
  --screen-lg: 1440px;

  --border-radius-sm: .5rem;
  --border-radius-md: .675rem;
  --border-radius-lg: 1rem;
  --button-box-shadow: inset 0rem -.25rem 0rem 0rem;

  --text-link: hsl(228, 45%, 44%);
  
  .theme-dark {
    /* Backgrounds */
    --bg-primary: hsl(222, 26%, 31%);
    --bg-secondary: hsl(223, 31%, 20%);
    --bg-screen: hsl(224, 36%, 15%);

    /* Text */
    --text-primary: hsl(221, 14%, 31%);
    --text-secondary: hsl(221, 14%, 31%);
    --white: hsl(0, 0%, 100%);

    /* Keys */
    --base-key-background: hsl(30, 25%, 89%);;
    --base-key-text: var(--text-primary);
    --base-key-shadow: hsl(28, 16%, 65%);;
    --primary-key-background: hsl(6, 63%, 50%);
    --primary-key-text: var(--white);
    --primary-key-shadow: hsl(6, 70%, 34%);
    --secondary-key-background: hsl(225, 21%, 49%);
    --secondary-key-text: var(--white);
    --secondary-key-shadow:  hsl(224, 28%, 35%);

    /* Display */
    --text-color-display: var(--white);
    --text-color-header: var(--white);
  }

  .theme-light {
    /* Backgrounds */
    --bg-primary: hsl(0, 0%, 90%);
    --bg-secondary: hsl(0, 5%, 81%);
    --bg-screen: hsl(0, 0%, 93%);

    /* Text */
    --text-primary: hsl(60, 10%, 19%);
    --text-secondary: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);

    /* Keys */
    --base-key-background: hsl(45, 7%, 89%);
    --base-key-text: var();
    --base-key-shadow: hsl(35, 11%, 61%);
    --primary-key-background: hsl(25, 98%, 40%);
    --primary-key-text: var();
    --primary-key-shadow: hsl(25, 99%, 27%);
    --secondary-key-background: hsl(185, 42%, 37%);
    --secondary-key-text: var();
    --secondary-key-shadow: hsl(185, 58%, 25%);

    /* Display */
    --text-color-display: var(--text-primary);
    --text-color-header: var(--text-primary);
  }

  .theme-violet {
    /* Backgrounds */
    --bg-primary: hsl(268, 75%, 9%);
    --bg-secondary: hsl(268, 71%, 12%);
    --bg-screen: hsl(268, 71%, 12%);

    /* Text */
    --text-primary: hsl(52, 100%, 62%);
    --text-secondary: hsl(198, 20%, 13%);
    --white: hsl(0, 0%, 100%);

    /* Keys */
    --base-key-background: hsl(281, 89%, 26%);
    --base-key-text: var(--text-primary);
    --base-key-shadow: hsl(285, 91%, 52%);
    --primary-key-background: hsl(176, 100%, 44%);
    --primary-key-text: var(----bg-secondary);
    --primary-key-shadow: hsl(177, 92%, 70%);
    --secondary-key-background: hsl(268, 47%, 21%);
    --secondary-key-text: var(--white);
    --secondary-key-shadow: hsl(290, 70%, 36%);

    /* Display */
    --text-color-display: var(--text-primary);
    --text-color-header: var(--text-primary);
  }
}
